.react-aria-ProgressBar {
  display: grid;
  grid-template-areas:
    "label value"
    "bar bar";
  grid-template-columns: 1fr auto;
  align-items: flex-end;
  gap: var(--space-s);
  width: 250px;
  color: var(--text-color);
  line-height: 1;

  .value {
    grid-area: value;
  }

  .bar {
    grid-area: bar;
    box-shadow: inset 0px 0px 0px 1px var(--border-color);
    forced-color-adjust: none;
    height: 8px;
    border-radius: var(--radius-s);
    overflow: hidden;
    will-change: transform;
  }

  .fill {
    background: var(--highlight-background);
    height: 100%;
    @media (prefers-reduced-motion: no-preference) {
      transition: transform 0.2s ease-out;
    }
  }

  &:not([aria-valuenow]) {
    .fill {
      width: 120px;
      border-radius: inherit;
      animation: indeterminate 1.5s infinite ease-in-out;
      will-change: transform;
    }
  }

  .label {
    font-size: var(--step-0);
    font-weight: var(--weight-bold);
  }
}

@keyframes indeterminate {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(250px);
  }
}
