.namesake-checkbox-group {
  display: flex;
  flex-direction: column;
  color: var(--text-color);

  .checkbox-items {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
    align-items: flex-start;

    &:not(:first-child) {
      padding-block-start: var(--space-xs);
    }
  }

  [slot="description"] {
    display: block;
    margin-top: var(--space-2xs);
    font-size: var(--step--2);
  }
}
