.namesake-name-field {
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
  width: 100%;
}

.namesake-name-field-inputs {
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
  max-width: 30ch;
}
