.react-aria-Dialog {
  box-sizing: border-box;
  max-height: inherit;
  padding: 30px;
  overflow: auto;
  outline: none;

  .react-aria-Heading[slot="title"] {
    margin-top: 0;
    line-height: 1em;
  }
}
