.react-aria-DropZone {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  min-height: 96px;
  padding: 24px 12px;
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
  vertical-align: middle;
  color: var(--text-color);
  text-align: center;
  text-wrap: balance;
  appearance: none;
  outline: none;
  forced-color-adjust: none;
  background: var(--overlay-background);
  border: 1px solid var(--border-color);
  border-radius: 4px;

  &[data-focus-visible],
  &[data-drop-target] {
    outline: 3px solid var(--focus-ring-color);
    outline-offset: -1px;
  }

  &[data-drop-target] {
    background: var(--highlight-overlay);
  }
}
