---
import { PortableText as PortableTextInternal } from "astro-portabletext";
import { smartquotes } from "~/helpers/helpers";

const { summary, content } = Astro.props.node;
---

<details>
  <summary>{smartquotes(summary)}</summary>
  <div class="details-content"><PortableTextInternal value={content} /></div>
</details>

<style lang="scss">
  details {
    border: 0.5px solid var(--border-color);

    --details-indent: calc(var(--space-xl) + var(--space-s) - 1px);
    --details-transition-duration: 0.2s;

    transition-property: margin-block-start;
    transition-duration: var(--details-transition-duration);
    transition-timing-function: ease;

    @media (prefers-reduced-motion: no-preference) {
      interpolate-size: allow-keywords;
    }

    &::details-content {
      block-size: 0;
      opacity: 0;
      overflow-y: clip;
      transition-property: content-visibility, block-size, opacity;
      transition-duration: var(--details-transition-duration);
      transition-timing-function: ease;
      transition-behavior: allow-discrete;
    }

    &[open]::details-content {
      block-size: auto;
      opacity: 1;
    }

    &[open] summary {
      font-weight: var(--weight-bold);
    }

    &[open] summary:before {
      rotate: 90deg;
    }

    & + details {
      border-top: none;
    }
  }

  summary {
    position: relative;
    list-style-type: none;
    padding-inline: var(--details-indent) var(--space-m);
    padding-block: var(--space-xs);
    cursor: pointer;

    &:-webkit-details-marker,
    &::marker {
      display: none;
    }

    &::before {
      content: "";
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='currentColor'%3E%3Cpath d='M13.1717 12.0007L8.22192 7.05093L9.63614 5.63672L16.0001 12.0007L9.63614 18.3646L8.22192 16.9504L13.1717 12.0007Z'%3E%3C/path%3E%3C/svg%3E");
      padding: var(--space-xs);
      transition: rotate 0.15s ease-out;
      position: absolute;
      left: 0.9em;
      top: 0.85em;
      width: var(--space-l);
      height: var(--space-l);
      font-size: 0.6em;
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 0;
    }
  }

  .details-content {
    padding-block-end: var(--space-s);
    padding-inline: var(--details-indent) var(--space-m);

    :global(> *:first-child) {
      margin-block-start: 0;
    }

    :global(> *:last-child) {
      margin-block-end: 0;
    }
  }
</style>
