---
interface Props {
  level: 1 | 2 | 3 | 4 | 5 | 6;
  slug: string;
}

const { level, slug } = Astro.props;

const HeadingTag = `h${level}` as keyof HTMLElementTagNameMap;
---

<HeadingTag id={slug} class="heading">
  <a href={`#${slug}`}><slot /></a>
</HeadingTag>

<style lang="scss">
  .heading {
    position: relative;
    scroll-margin-top: 2rem;

    > a {
      display: inline;
      text-decoration: none;
      color: inherit;

      &:hover {
        text-decoration: underline;
      }
    }
  }
</style>
