---
export interface Props {
  children: string;
  value: {
    reference: {
      _type: string;
      slug: string;
      title: string;
    };
  };
}

const { children, value } = Astro.props;
const { reference } = value;

const urlPrefixes: Record<string, string> = {
  post: "/blog",
  page: "",
  guide: "/guides",
  form: "/forms",
};

const href = reference
  ? `${urlPrefixes[reference._type] ?? ""}/${reference.slug}`
  : "#";
const title = reference?.title || (reference ? "" : "Broken link");
---

<a href={href} title={title}>{children}</a>
