.form-complete-step {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--space-2xl);
  padding-block: var(--space-xl) var(--space-2xl);
}

.form-complete-step-header {
  display: flex;
  flex-direction: column;
  gap: var(--space-s);
}

.form-complete-step-heading {
  display: inline;
  text-wrap: balance;
  margin-inline-start: -0.06em;
}

.form-complete-step-description {
  font-size: var(--step-2);
  line-height: var(--line-height-display);
  text-wrap: balance;
}

.form-complete-step-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--space-l);
  width: 100%;
  max-width: 720px;
  margin-inline-end: auto;
}

.form-complete-actions {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--space-m);
  width: 100%;

  svg {
    flex-shrink: 0;
  }

  @media (width < 600px) {
    flex-direction: column;
    align-items: stretch;

    button {
      width: 100%;
    }
  }
}
