---
import BaseLayout from "../../layouts/BaseLayout.astro";

import { getCollection } from "astro:content";

const posts = await getCollection("posts");
---

<BaseLayout title="Blog" description="Updates and news from Namesake.">
  <ul>
    {
      posts.map((post) => (
        <li>
          <a href={`/blog/${post.slug}`}>{post.data.title}</a>
          <time datetime={post.data.publishDate.toISOString()}>
            {post.data.publishDate.toDateString()}
          </time>
        </li>
      ))
    }
  </ul>
</BaseLayout>
