.react-aria-Link {
  position: relative;
  font-size: 18px;
  color: var(--link-color);
  text-decoration: underline;
  cursor: pointer;
  outline: none;
  transition: all 200ms;

  &[data-hovered] {
    text-decoration-style: wavy;
  }

  &[data-focus-visible]:after {
    position: absolute;
    inset: -3px -6px;
    content: "";
    border: 2px solid var(--focus-ring-color);
    border-radius: 6px;
  }

  &[data-disabled] {
    color: var(--text-color-disabled);
    cursor: default;
  }
}
