.react-aria-Tooltip {
  max-width: 150px;
  padding: var(--space-2xs) var(--space-s);
  font-size: var(--step--1);
  color: var(--highlight-foreground);
  outline: none;
  forced-color-adjust: none;
  background: var(--highlight-background);
  border-radius: var(--radius-xs);
  box-shadow: 0 8px 20px rgba(0 0 0 / 0.1);
  /* fixes FF gap */
  transform: translate3d(0, 0, 0);
  transition:
    transform 200ms,
    opacity 200ms;

  &[data-entering],
  &[data-exiting] {
    opacity: 0;
    transform: var(--origin);
  }

  &[data-placement="top"] {
    --origin: translateY(4px);
    margin-bottom: var(--space-s);
  }

  & .react-aria-OverlayArrow svg {
    display: block;
    fill: var(--highlight-background);
  }

  &[data-placement="bottom"] {
    --origin: translateY(-4px);
    margin-top: var(--space-s);
    & .react-aria-OverlayArrow svg {
      transform: rotate(180deg);
    }
  }

  &[data-placement="right"] {
    --origin: translateX(-4px);
    margin-left: var(--space-s);
    & .react-aria-OverlayArrow svg {
      transform: rotate(90deg);
    }
  }

  &[data-placement="left"] {
    --origin: translateX(4px);
    margin-right: var(--space-s);
    & .react-aria-OverlayArrow svg {
      transform: rotate(-90deg);
    }
  }
}
