---
import type { SanityDocument } from "@sanity/client";
import PageHeader from "~/components/PageHeader.astro";
import BaseLayout from "~/layouts/BaseLayout.astro";
import { loadQuery } from "~/sanity/lib/loadQuery";

const { params } = Astro.props;

const { data: guides } = await loadQuery<SanityDocument[]>({
  query: `*[_type == "guide" && defined(slug)]{
    title,
    slug,
  } | order(publishDate desc)`,
  params,
});
---

<BaseLayout
  title="Guides"
  description="Step-by-step name change guides for identity documents."
  color="white"
>
  <PageHeader
    title="Guides"
    description="Step-by-step name change guides for identity documents."
  />
  <div class="guides">
    {
      guides.length ? (
        guides.map((guide) => (
          <a href={`/guides/${guide.slug.current}`}>{guide.title}</a>
        ))
      ) : (
        <p>No guides found.</p>
      )
    }
  </div>
</BaseLayout>
