.banner {
  display: grid;
  grid-template-columns: auto 1fr;
  width: 100%;
  background-color: var(--field-background);
  border: 1px solid var(--border-color);

  .banner-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(var(--space-2xl) - 1px);
    padding-block: var(--space-s);
    color: var(--highlight-foreground);
    background-color: var(--highlight-background);
  }

  svg {
    flex-shrink: 0;
    width: var(--space-l);
  }

  &[data-variant="error"] {
    color: var(--invalid-color);
    border-color: var(--invalid-color);

    .banner-icon {
      background-color: var(--invalid-color);
    }
  }

  p + p {
    margin-top: var(--space-s);
  }
}

.banner-content {
  flex: 1;
  padding: var(--space-s);
  padding-inline-end: var(--space-m);
  font-size: var(--step-0);
}
