.react-aria-NumberField {
  .react-aria-Input {
    background: var(--field-background);
    border: 1px solid var(--border-color);
    border-radius: 0;
    color: var(--field-text-color);
    margin: 0 -1px;
    z-index: 1;
    font-size: var(--step-0);
    padding: var(--space-s) var(--space-2xl) var(--space-s) var(--space-s);
    outline: none;
    width: 7ch;
    flex: 1;
  }

  .namesake-button {
    font-size: var(--step-0);
    padding-inline: var(--space-s);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-shadow: none;

    &[slot="decrement"] {
      border-start-end-radius: 0;
      border-end-end-radius: 0;
    }

    &[slot="increment"] {
      border-start-start-radius: 0;
      border-end-start-radius: 0;
    }

    @media (hover: hover) {
      &:hover {
        transform: none;
      }
      &:active {
        transform: none;
      }
    }
  }

  .react-aria-Group {
    display: flex;
    width: fit-content;
    border-radius: var(--radius-s);

    &[data-focus-within] {
      outline: 1px solid var(--focus-ring-color);
      .react-aria-Input,
      .namesake-button {
        border-color: var(--focus-ring-color);
      }
    }
  }

  &[data-invalid] {
    .react-aria-Input,
    .namesake-button {
      border-color: var(--invalid-color);
    }

    &:focus-within {
      .react-aria-Input,
      .namesake-button {
        border-color: var(--focus-ring-color);
      }
    }
  }

  .react-aria-FieldError {
    font-size: var(--step--1);
    color: var(--invalid-color);
  }

  [slot="description"] {
    display: block;
    margin-top: var(--space-2xs);
    font-size: var(--step--2);
  }

  .namesake-button {
    &[data-disabled] {
      border-color: var(--border-color-disabled);
      color: var(--text-color-disabled);
    }
  }

  .react-aria-Input {
    &[data-disabled] {
      border-color: var(--border-color-disabled);
      color: var(--text-color-disabled);
    }
  }
}
