@import "../Dialog/Dialog.css";

.react-aria-Popover {
  --background-color: var(--overlay-background);

  border-radius: var(--radius-s);
  background: var(--overlay-background);
  border: none;
  box-shadow: 8px 8px 0 0
    color-mix(in srgb, var(--border-color) 20%, transparent);
  color: var(--text-color);
  outline: 3px solid var(--border-color);
  max-width: 250px;
  transition:
    transform 200ms,
    opacity 200ms;
  font-size: var(--step--1);

  .react-aria-OverlayArrow svg {
    display: block;
    fill: var(--overlay-background);
    stroke: var(--border-color);
    stroke-width: 3;
  }

  &[data-entering],
  &[data-exiting] {
    transform: var(--origin);
    opacity: 0;
  }

  &[data-placement="top"] {
    --origin: translateY(8px);

    &:has(.react-aria-OverlayArrow) {
      margin-bottom: 6px;
    }
  }

  &[data-placement="bottom"] {
    --origin: translateY(-8px);

    &:has(.react-aria-OverlayArrow) {
      margin-top: 6px;
    }

    .react-aria-OverlayArrow svg {
      transform: rotate(180deg);
    }
  }

  &[data-placement="right"] {
    --origin: translateX(-8px);

    &:has(.react-aria-OverlayArrow) {
      margin-left: 6px;
    }

    .react-aria-OverlayArrow svg {
      transform: rotate(90deg);
    }
  }

  &[data-placement="left"] {
    --origin: translateX(8px);

    &:has(.react-aria-OverlayArrow) {
      margin-right: 6px;
    }

    .react-aria-OverlayArrow svg {
      transform: rotate(-90deg);
    }
  }
}

/* Extra padding for custom trigger example content */
.react-aria-Popover :where(p, div) {
  margin: 0;
}
