html {
  font-size: 100%;
  height: 100%;
  background-color: var(--text);
}

body {
  color: var(--text);
  background-color: var(--bg);
  background-position: center top;
  display: flex;
  min-height: 100dvh;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  font-size: var(--step-0);
  line-height: var(--line-height-body);
  font-synthesis: none;
  font-family: var(--font-sans);
  font-weight: 400;
  font-style: normal;
}

body::before,
body::after {
  content: "";
  position: absolute;
  inset: 0;
  background-position: center top;
  pointer-events: none;
  z-index: 10;
}

body::before {
  background-image: url("/assets/speckles-black.svg");
}

body[data-color="purple"]::after {
  background-image: url("/assets/speckles-purple.svg");
}

body[data-color="pink"]::after {
  background-image: url("/assets/speckles-pink.svg");
}

body[data-color="blue"]::after {
  background-image: url("/assets/speckles-blue.svg");
}

body[data-color="yellow"]::after {
  background-image: url("/assets/speckles-yellow.svg");
}

body[data-color="green"]::after {
  background-image: url("/assets/speckles-green.svg");
}

body[data-color="brown"]::after {
  background-image: url("/assets/speckles-brown.svg");
}

::selection {
  background: var(--text);
  color: var(--bg);
}

main {
  flex: 1;
  padding: var(--space-2xl) var(--space-l);
  min-width: 0;
  width: 100%;
  max-width: 1200px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
}

main.full {
  max-width: 100%;
}

h1,
h2,
h3 {
  font-weight: 600;
  font-style: normal;
}

h1 {
  font-size: var(--step-6);
  line-height: var(--line-height-single);
  letter-spacing: var(--letter-spacing-condensed);
}

h2 {
  font-size: var(--step-3);
  line-height: var(--line-height-display);
  letter-spacing: var(--letter-spacing-condensed);
}

h3 {
  font-size: var(--step-2);
  line-height: var(--line-height-body);
}

h4 {
  font-size: var(--step-1);
  line-height: var(--line-height-body);
}

h5 {
  font-size: var(--step-0);
  line-height: var(--line-height-body);
}

small {
  font-size: var(--step--1);
  line-height: var(--line-height-body);
}

a {
  text-decoration: underline;
  text-decoration-color: var(--text);
  text-underline-offset: max(0.1em, 2.5px);
}

@media (hover: hover) {
  a:hover,
  a:focus {
    text-decoration-color: var(--text);
  }
}

img {
  max-width: 100%;
}

.nowrap {
  white-space: nowrap;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

:focus-visible {
  outline: 3px solid var(--text);
  outline-offset: 2px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--space-s) var(--space-l);
  border-radius: 5px;
  font-weight: 600;
  text-decoration: none;
  gap: var(--space-xs);
  border: 3px solid transparent;
  cursor: pointer;

  &.primary {
    background-color: var(--text);
    border-color: var(--text);
    color: var(--bg);

    @media (hover: hover) {
      &:hover {
        background-color: var(--bg);
        color: var(--text);
      }
    }
  }

  &.secondary {
    background-color: var(--bg);
    color: var(--text);
    border-color: var(--text);

    @media (hover: hover) {
      &:hover {
        background-color: var(--text);
        color: var(--bg);
      }
    }
  }

  &.small {
    padding: var(--space-2xs) var(--space-xs);
    gap: var(--space-2xs);
    font-size: var(--step--1);
  }

  svg {
    width: 1.25em;
    height: 1.25em;
  }
}
