html {
  font-size: 100%;
  height: 100%;
}

body {
  color: var(--text);
  background-color: var(--bg-purple);
  background-image: url('/speckles-black.svg');
  background-position: center top;
  display: flex;
  min-height: 100dvh;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  font-size: var(--step-0);
  line-height: var(--line-height-body);
  font-synthesis: none;
  font-family: var(--font-sans);
  font-weight: 400;
  font-style: normal;
}

body::after {
  content: '';
  position: absolute;
  inset: 0;
  background-image: url('/speckles-purple.svg');
  background-position: center top;
  pointer-events: none;
  z-index: 10;
}

::selection {
  background: var(--text);
  color: var(--bg-purple);
}

h1, h2, h3 {
  font-weight: 600;
  font-style: normal;
}

h1 {
  font-size: var(--step-6);
  line-height: var(--line-height-single);
  letter-spacing: var(--letter-spacing-condensed);
}

h2 {
  font-size: var(--step-3);
  line-height: var(--line-height-display);
  letter-spacing: var(--letter-spacing-condensed);
}

h3 {
  font-size: var(--step-2);
  line-height: var(--line-height-body);
}

h4 {
  font-size: var(--step-1);
  line-height: var(--line-height-body);
}

h5 {
  font-size: var(--step-0);
  line-height: var(--line-height-body);
}

small {
  font-size: var(--step--1);
  line-height: var(--line-height-body);
}

a {
  text-decoration: underline;
  text-decoration-color: var(--text);
  text-underline-offset: max(0.1em, 2.5px);
  transition:
    text-decoration-color 0.2s ease-in-out,
    font-weight 0.2s ease-in-out;
}

@media (hover: hover) {
  a:hover,
  a:focus {
    text-decoration-color: var(--text);
  }
}

img {
  filter: grayscale(100%) contrast(180%) brightness(140%);
  opacity: 0.9;
  mix-blend-mode: multiply;
  border-radius: 2px;
  max-width: 100%;
  user-select: none;
}

.nowrap {
  white-space: nowrap;
}

:focus-visible {
  outline: 2px solid var(--white);
  outline-offset: 2px;
}
