html {
  font-size: 100%;
  height: 100%;
  background-color: var(--text);
}

body {
  color: var(--text);
  background-color: var(--bg);
  background-position: center top;
  display: flex;
  min-height: 100dvh;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  font-size: var(--step-0);
  line-height: var(--line-height-body);
  font-synthesis: none;
  font-family: var(--font-sans);
  font-weight: 400;
  font-style: normal;
}

@supports (mask-image: url()) or (-webkit-mask-image: url()) {
  body::before,
  body::after {
    content: "";
    position: absolute;
    inset: 0;
    background-position: center top;
    pointer-events: none;
    z-index: 10;
  }

  body::after {
    background: var(--bg);
    -webkit-mask-image: url("/assets/speckles-1.svg");
    mask-image: url("/assets/speckles-1.svg");
  }

  body::before {
    background: var(--text);
    -webkit-mask-image: url("/assets/speckles-2.svg");
    mask-image: url("/assets/speckles-2.svg");
  }
}

::selection {
  background: var(--text);
  color: var(--bg);
}

main {
  flex: 1;
  padding: var(--space-2xl) var(--space-l);
  min-width: 0;
  width: 100%;
  max-width: 1200px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
}

main.full {
  max-width: 100%;
}

h1,
h2,
h3 {
  font-weight: 600;
  font-style: normal;
}

h1 {
  font-size: var(--step-6);
  line-height: var(--line-height-single);
  letter-spacing: var(--letter-spacing-condensed);
}

h2 {
  font-size: var(--step-3);
  line-height: var(--line-height-display);
  letter-spacing: var(--letter-spacing-condensed);
}

h3 {
  font-size: var(--step-2);
  line-height: var(--line-height-body);
}

h4 {
  font-size: var(--step-1);
  line-height: var(--line-height-body);
}

h5 {
  font-size: var(--step-0);
  line-height: var(--line-height-body);
}

small {
  font-size: var(--step--1);
  line-height: var(--line-height-body);
}

a {
  text-decoration: underline;
  text-decoration-color: var(--text);
  text-underline-offset: max(0.1em, 2.5px);
}

@media (hover: hover) {
  a:hover,
  a:focus {
    text-decoration-color: var(--text);
  }
}

img {
  max-width: 100%;
}

.nowrap {
  white-space: nowrap;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

:focus-visible {
  outline: 3px solid var(--text);
  outline-offset: 2px;
}
