@import "@radix-ui/colors/gray.css";
@import "@radix-ui/colors/gray-alpha.css";
@import "@radix-ui/colors/violet.css";
@import "@radix-ui/colors/white-alpha.css";

:root {
  /* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1240,22,1.25,6,1,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --step--1: clamp(0.9375rem, 0.8114rem + 0.6304vi, 1.3rem);
  --step-0: clamp(1.125rem, 0.9511rem + 0.8696vi, 1.625rem);
  --step-1: clamp(1.35rem, 1.113rem + 1.1848vi, 2.0313rem);
  --step-2: clamp(1.62rem, 1.3003rem + 1.5984vi, 2.5391rem);
  --step-3: clamp(1.944rem, 1.5162rem + 2.1388vi, 3.1738rem);
  --step-4: clamp(2.3328rem, 1.7643rem + 2.8426vi, 3.9673rem);
  --step-5: clamp(2.7994rem, 2.0481rem + 3.7561vi, 4.9591rem);

  /* @link https://utopia.fyi/space/calculator?c=320,8,1.2,1240,12,1.333,6,2,&s=0.75|0.5,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --space-2xs: clamp(0.25rem, 0.2065rem + 0.2174vw, 0.375rem);
  --space-xs: clamp(0.375rem, 0.3098rem + 0.3261vw, 0.5625rem);
  --space-s: clamp(0.5rem, 0.413rem + 0.4348vw, 0.75rem);
  --space-m: clamp(0.75rem, 0.6196rem + 0.6522vw, 1.125rem);
  --space-l: clamp(1rem, 0.8261rem + 0.8696vw, 1.5rem);
  --space-xl: clamp(1.5rem, 1.2391rem + 1.3043vw, 2.25rem);
  --space-2xl: clamp(2rem, 1.6522rem + 1.7391vw, 3rem);
  --space-3xl: clamp(3rem, 2.4783rem + 2.6087vw, 4.5rem);

  /* Line heights */
  --line-height-single: 1;
  --line-height-display: 1.1;
  --line-height-body: 1.25;

  /* Letter spacing */
  --letter-spacing-condensed: -0.005em;
  --letter-spacing-normal: 0;
  --letter-spacing-loose: 0.01em;

  /* Radii */
  --radius-xs: var(--space-xs);
  --radius-s: var(--space-s);
  --radius-m: var(--space-m);
  --radius-l: var(--space-l);

  /* Background */
  --background: var(--violet-7);
}
