.react-aria-ToggleButton {
  color: var(--text-color);
  background: var(--button-background);
  border: 1px solid var(--border-color);
  forced-color-adjust: none;
  border-radius: var(--radius-xs);
  appearance: none;
  vertical-align: middle;
  font-size: var(--step-0);
  text-align: center;
  margin: 0;
  outline: none;
  padding: var(--space-xs) var(--space-m);
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &[data-pressed] {
    box-shadow: inset 0 1px 2px rgb(0 0 0 / 0.1);
  }

  &[data-selected] {
    background: var(--highlight-background);
    border-color: var(--highlight-background);
    color: var(--highlight-foreground);

    &[data-pressed] {
      background: var(--highlight-background);
      border-color: var(--highlight-background);
    }
  }

  &[data-focus-visible] {
    outline: 3px solid var(--focus-ring-color);
    outline-offset: 2px;
  }

  &[data-disabled] {
    border-color: var(--border-color-disabled);
    background: var(--button-background);
    color: var(--text-color-disabled);
  }

  &:not([data-disabled]) {
    cursor: pointer;
  }
}
