.namesake-text-area {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--text-color);

  .react-aria-TextArea {
    padding: var(--space-s);
    margin: 0;
    border: 1px solid var(--border-color);
    border-radius: var(--radius-xs);
    background: var(--field-background);
    font-size: var(--step-0);
    color: var(--field-text-color);
    width: 100%;
    min-height: var(--space-3xl);
    resize: vertical;

    &[data-focused] {
      outline: 3px solid var(--focus-ring-color);
      outline-offset: -1px;
    }

    &[data-invalid] {
      border-color: var(--invalid-color);
    }

    &[data-disabled] {
      border-color: var(--border-color-disabled);
      color: var(--text-color-disabled);
    }
  }

  .react-aria-FieldError {
    margin-top: var(--space-2xs);
    font-size: var(--step--1);
    color: var(--invalid-color);
  }

  [slot="description"] {
    display: block;
    margin-top: var(--space-2xs);
    font-size: var(--step--2);
  }
}
