.react-aria-Meter {
  --fill-color: var(--highlight-background);

  display: grid;
  grid-template-areas:
    "label value"
    "bar bar";
  grid-template-columns: 1fr auto;
  gap: 4px;
  width: 250px;
  color: var(--text-color);

  .value {
    grid-area: value;
  }

  .bar {
    grid-area: bar;
    height: 8px;
    overflow: hidden;
    forced-color-adjust: none;
    border-radius: var(--radius-s);
    box-shadow: inset 0px 0px 0px 1px var(--border-color);
  }

  .fill {
    height: 100%;
    background: var(--fill-color);
  }
}

@media (forced-colors: active) {
  .react-aria-Meter {
    --fill-color: Highlight;
  }
}
