---
import ProseLayout from "@/layouts/ProseLayout.astro";
---

<ProseLayout
  title="Form downloaded!"
  description="Your name change packet has downloaded. Review, print, and follow steps for filing."
  color="green"
  annotation="underline"
>
  Questions about filing? <a href="https://namesake.fyi/chat">Chat on Discord</a
  > or <a href="mailto:hey@namesake.fyi">email us</a> for help.
</ProseLayout>
