---
import { DeleteFormDataModal } from "@/components/react/forms/DeleteFormDataModal";
import ProseLayout from "@/layouts/ProseLayout.astro";
---

<ProseLayout
  title="It's done!"
  description="Your name change packet has downloaded. Review, print, and follow steps for filing."
  color="green"
  annotation="underline"
>
  <p>
    Questions about filing? <a href="https://namesake.fyi/chat"
      >Chat on Discord</a
    > or <a href="mailto:hey@namesake.fyi">email us</a> for help.
  </p>
  <DeleteFormDataModal client:only="react" />
</ProseLayout>
