.namesake-date-field {
  color: var(--text-color);
  display: flex;
  flex-direction: column;

  [slot="description"] {
    display: block;
    margin-top: var(--space-2xs);
    font-size: var(--step--1);
  }
}

.react-aria-DateInput {
  display: inline;
  padding: var(--space-s) var(--space-m);
  border: 1px solid var(--border-color);
  border-radius: var(--radius-xs);
  background: var(--field-background);
  width: fit-content;
  min-width: 15ch;
  white-space: nowrap;
  forced-color-adjust: none;

  &[data-focus-within] {
    outline: 3px solid var(--focus-ring-color);
    outline-offset: -1px;
  }

  &[data-disabled] {
    border-color: var(--border-color-disabled);
    color: var(--text-color-disabled);
  }
}

.react-aria-DateSegment {
  padding: 2px 3px;
  font-variant-numeric: tabular-nums;
  text-align: end;
  color: var(--text-color);

  &[data-type="literal"] {
    padding: 0;
  }

  &[data-placeholder] {
    color: var(--text-color-placeholder);
  }

  &:focus {
    color: var(--highlight-foreground);
    background: var(--highlight-background);
    outline: none;
    border-radius: var(--radius-2xs);
    caret-color: transparent;
  }

  &[data-invalid] {
    color: var(--invalid-color);

    &:focus {
      background: var(--highlight-background-invalid);
      color: var(--highlight-foreground);
    }
  }

  .react-aria-FieldError {
    font-size: var(--step--1);
    color: var(--invalid-color);
  }

  &[data-disabled] {
    .react-aria-DateSegment {
      color: var(--text-color-disabled);
    }
  }
}
