---
export const prerender = true;

import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout
  title="Page Not Found"
  description="Looks like nobody's home. Maybe try a different page?"
>
  <div class="error">
    <img src="/assets/404/empty-shell.png" alt="Namesake empty shell" />
    <h1>No one’s home</h1>
    <p>We couldn’t find that page.</p>
  </div>
</BaseLayout>

<style lang="scss">
  .error {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: var(--space-m);
    padding-block: var(--space-3xl);
  }

  img {
    mix-blend-mode: multiply;
    width: 92px;
  }

  h1 {
    font-size: var(--step-4);
  }

  p {
    font-size: var(--step-2);
    text-wrap: balance;
  }
</style>
