---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="Namesake"
  description="Namesake streamlines the legal name and gender marker change process for trans, nonbinary, and gender expansive folks."
>
  <main>
    <h1>Namesake</h1>
  </main>
</BaseLayout>

<style>
  main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100dvw;
    height: 100dvh;
  }
</style>
