---
import BaseLayout from "../layouts/BaseLayout.astro";

import { getCollection } from "astro:content";
import siteInfo from "../data/site-info";

import { Content } from "../content/pages/index.md";
import Partners from "../components/Partners.astro";
---

<BaseLayout title={siteInfo.name} description={siteInfo.description}>
  <div class="home">
    <div class="content">
      <h1>
        <span>Be seen for</span><br /><span class="who-you-are"
          >who you are.</span
        >
      </h1>
      <div class="subhead">
        <Content />
      </div>
    </div>
    <img
      class="illustration"
      src="/assets/namesake-form.png"
      alt="Some snails and flowers on top of a court order document"
      width={600}
    />
  </div>
  <Partners />
</BaseLayout>

<script>
  import { annotate } from "rough-notation";

  const whoYouAre: HTMLElement | null = document.querySelector(".who-you-are");
  if (whoYouAre) {
    const highlight = annotate(whoYouAre, {
      type: "highlight",
      iterations: 1,
    });
    highlight.show();
  }
</script>

<style lang="scss">
  .home {
    display: grid;
    grid-template-columns: minmax(460px, 1fr) minmax(0, 1fr);
    grid-template-areas: "content illustration";
    gap: var(--space-2xl);

    @media (width < 800px) {
      grid-template-columns: 1fr;
      grid-template-areas: "content";
      .illustration {
        display: none;
      }
    }
  }

  .illustration {
    grid-area: illustration;
    width: 600px;
    max-width: 100%;
    order: 1;
  }

  .content {
    grid-area: content;
    min-width: 0;
  }

  img {
    mix-blend-mode: multiply;
    user-select: none;
  }

  h1 {
    margin-block-end: var(--space-xl);
    margin-inline-start: -0.03em;

    span {
      white-space: nowrap;
    }
  }

  .who-you-are {
    color: var(--bg);
  }

  .subhead {
    font-size: var(--step-1);

    :global(p) + :global(p) {
      margin-top: var(--space-l);
    }
  }
</style>
