---
import { Image } from "astro:assets";
import Logo from "../components/Logo.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import {
  RiArrowRightLine,
  RiInstagramLine,
  RiLinkedinLine,
} from "react-icons/ri";
import idImage from "../images/id.png";

const year = new Date().getFullYear();
---

<BaseLayout
  title="Namesake"
  description="Namesake streamlines the legal name and gender marker change process for trans, nonbinary, and gender expansive folks."
>
  <main>
    <a href="/" aria-label="Namesake homepage"><Logo /></a>
    <div class="hero">
      <div class="contents">
        <h1>Be seen for who you are.</h1>
        <p class="subhead">
          Namesake streamlines the legal name and gender marker change process
          for trans, non-binary, and gender expansive folks. Launching in
          Massachusetts this Summer.
        </p>
        <form>
          <input type="email" placeholder="Your email" required />
          <button type="submit">Subscribe <RiArrowRightLine /></button>
        </form>
      </div>
      <Image
        src={idImage}
        alt="A snail on top of a Massachusetts ID card"
        width={400}
        densities={[1, 2]}
      />
    </div>
  </main>
  <footer>
    <span class="copyright"
      >&copy; 2022&hairsp;&ndash;&hairsp;{year} Namesake</span
    >
    <div class="social">
      <a
        href="https://www.instagram.com/joinnamesake/"
        aria-label="View Namesake on Instagram"
        title="View Namesake on Instagram"><RiInstagramLine size="24px" /></a
      >
      <a
        href="https://www.linkedin.com/company/namesake-collaborative/"
        aria-label="View Namesake on LinkedIn"
        title="View Namesake on LinkedIn"><RiLinkedinLine size="24px" /></a
      >
    </div>
  </footer>
</BaseLayout>

<style lang="scss">
  main,
  footer {
    padding: var(--space-xl);
    width: 100%;
    margin-inline: auto;
  }

  main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-block-end: 0;
  }

  .hero {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: var(--space-2xl);
    padding-block: var(--space-3xl);

    img {
      mix-blend-mode: multiply;
      height: auto;
      max-width: 100%;
      margin-left: -20px;
    }
  }

  h1 {
    text-wrap: balance;
    margin-block-end: var(--space-l);
    line-height: 0.9;
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block-start: 0;
  }

  .copyright {
    font-size: var(--step--1);
  }

  .social {
    display: flex;
    gap: var(--space-s);
  }

  .subhead {
    font-size: var(--step-1);
    max-width: 60ch;
    text-wrap: balance;
  }

  form {
    // display: flex;
    display: none; // Until fully implemented
    gap: var(--space-xs);
    margin-block-start: var(--space-l);
  }

  input {
    border: none;
    border-bottom: 2px solid var(--gray-12);
    background: transparent;
    padding: 0;

    &::placeholder {
      color: var(--gray-a9);
    }
  }

  button {
    background: transparent;
    border: 2px solid var(--gray-12);
    color: var(--gray-12);
    font-weight: 600;
    cursor: pointer;
    padding: var(--space-2xs) var(--space-m);
    display: inline-flex;
    gap: var(--space-2xs);
    align-items: center;

    @media (hover: hover) {
      &:hover {
        background: var(--gray-12);
        color: var(--pink-6);
      }
    }
  }
</style>
