---
import { Image } from "astro:assets";
import BaseLayout from "../layouts/BaseLayout.astro";
import { RiArrowRightLine } from "react-icons/ri";
import idImage from "../images/id.png";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<BaseLayout
  title="Namesake"
  description="Namesake streamlines the legal name and gender marker change process for trans, nonbinary, and gender expansive folks."
>
  <Header />
  <main>
    <h1>Be seen for who you&nbsp;are.</h1>
    <div class="subhead">
      <p>
        <strong>Legally changing name and gender is a challenge.</strong> You have
        to navigate the courts, fill out dense paperwork, and tackle steps in a specific
        and poorly-communicated order. For some, the process can take years to complete.
        And you have to do it all while navigating big emotions around what it means
        to embrace a new identity.
      </p>
      <p>
        We’ve been through this process ourselves, and <strong
          >we think it can be better</strong
        >. We built Namesake to help you navigate the process, step by step,
        with community support along the way.
      </p>
      <p>
        We’re finishing up the app right now and we plan to launch this Summer,
        starting in Massachusetts.
      </p>
      <p>
        Rigid systems weren’t built for us, but we’ll figure them out together.
      </p>
    </div>
    <form>
      <p>Get notified when we launch:</p>
      <div class="input-group">
        <input type="email" name="email" placeholder="Your email" required />
        <button type="submit">Subscribe <RiArrowRightLine /></button>
      </div>
    </form>
  </main>
  <Footer />
</BaseLayout>

<style lang="scss">
  main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: var(--space-2xl) var(--space-l);
    width: 100%;
    margin-inline: auto;
  }

  h1 {
    text-wrap: balance;
    margin-block-end: var(--space-xl);
    line-height: 0.9;
  }

  .subhead p {
    max-width: 54ch;

    & + p {
      margin-top: var(--space-m);
    }
  }

  form {
    margin-block-start: var(--space-xl);
    border: 1px solid var(--gray-12);
    padding: var(--space-m);

    @media (width < 540px) {
      width: 100%;
    }
  }

  .input-group {
    display: flex;
    gap: var(--space-xs);
    margin-block-start: var(--space-s);
  }

  input {
    border: none;
    border-bottom: 2px solid var(--gray-12);
    background: transparent;
    padding: 0;
    flex: 1;
    border-radius: 0;

    &::placeholder {
      color: var(--gray-a9);
    }
  }

  button {
    background: transparent;
    border: 2px solid var(--gray-12);
    color: var(--gray-12);
    font-weight: 600;
    cursor: pointer;
    padding: var(--space-2xs) var(--space-m);
    display: inline-flex;
    gap: var(--space-2xs);
    align-items: center;

    @media (hover: hover) {
      &:hover {
        background: var(--gray-12);
        color: var(--pink-6);
      }
    }

    &:focus-visible {
      background: var(--gray-12);
      color: var(--pink-6);
    }
  }
</style>
