---
import { Image } from "astro:assets";
import heroIllustration from "~/assets/index/hero-form.png";
import Partners from "~/components/Partners.astro";
import { Content } from "~/content/pages/index.md";
import siteInfo from "~/data/site-info";
import BaseLayout from "~/layouts/BaseLayout.astro";
---

<BaseLayout title={siteInfo.name} description={siteInfo.description}>
  <div class="intro">
    <h1>
      <span>Be seen for</span><br /><span class="who-you-are">who you are.</span
      >
    </h1>
    <div class="subhead">
      <Image
        src={heroIllustration}
        alt="Some snails and flowers on top of a court order document"
        class="illustration"
        width={900}
        densities={[1, 2]}
      />
      <div class="content">
        <Content />
      </div>
    </div>
  </div>
  <Partners />
</BaseLayout>

<script>
  import { annotate } from "rough-notation";

  const whoYouAre: HTMLElement | null = document.querySelector(".who-you-are");
  if (whoYouAre) {
    const highlight = annotate(whoYouAre, {
      type: "highlight",
      iterations: 1,
    });
    highlight.show();
  }
</script>

<style lang="scss">
  .intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-2xl);
  }

  .illustration {
    max-width: 100%;
    margin-bottom: -40%;
    user-select: none;
    pointer-events: none;
    z-index: -1;
    mix-blend-mode: multiply;
  }

  h1 {
    margin-inline-start: -0.03em;
    text-align: center;
    font-size: var(--step-7);

    @media (width < 420px) {
      font-size: var(--step-6);
    }

    span {
      white-space: nowrap;
    }
  }

  .who-you-are {
    color: var(--bg);
  }

  .subhead {
    max-width: 890px;
    font-size: var(--step-1);

    :global(p) + :global(p) {
      margin-top: var(--space-l);
    }

    @media (width < 800px) {
      margin-inline: calc(-1 * var(--space-m));
    }

    @media (width < 540px) {
      margin-inline: calc(-1 * var(--space-l));
      font-size: var(--step-0);
    }
  }

  .content {
    padding-inline: var(--space-3xl);

    @media (width < 600px) {
      padding-inline: var(--space-2xl);
    }

    @media (width < 480px) {
      padding-inline: var(--space-xl);
    }
  }
</style>
