.form-title-step {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: var(--space-2xl);
  padding-block: var(--space-2xl);
}

.form-title-step-header {
  display: flex;
  flex-direction: column;
  gap: var(--space-s);
}

.form-title-step-heading {
  font-size: var(--step-5);
  font-weight: var(--weight-bold);
  color: var(--text-color);
  text-wrap: pretty;
  line-height: var(--line-height-display);
  letter-spacing: var(--letter-spacing-condensed);
}

.form-title-step-description {
  font-size: var(--step-1);
  text-wrap: pretty;
}

.form-title-step-info {
  font-size: var(--step-0);
  color: var(--text-color-secondary);
  font-weight: var(--weight-medium);
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);

  li {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas: "icon title" ". description";
    column-gap: var(--space-xs);

    svg {
      grid-area: icon;
      align-self: center;
    }
  }
}

.form-title-step-info-title {
  grid-area: title;
}

.form-title-step-content {
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
}

.form-title-step-footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--space-m);
}

@media (width < 600px) {
  .form-title-step-button {
    width: 100%;
  }
}

.form-title-step-info-description {
  font-size: var(--step--1);
  font-weight: var(--weight-medium);
  padding-block-start: var(--space-2xs);
  text-wrap: pretty;
  grid-area: description;
}
