.form-title-step {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: var(--space-2xl);
  padding-block: var(--space-2xl);
}

.form-title-step-header {
  display: flex;
  flex-direction: column;
}

.form-title-step-heading {
  font-size: var(--step-5);
  font-weight: var(--weight-bold);
  color: var(--text-color);
  line-height: var(--line-height-display);
  letter-spacing: var(--letter-spacing-condensed);
  display: inline;
  text-wrap: balance;
  margin-inline-start: -0.06em;

  @media (width < 700px) {
    font-size: var(--step-5);
  }
}

.form-title-step-description {
  margin-block-start: var(--space-l);
  font-size: var(--step-2);
  line-height: var(--line-height-display);
  text-wrap: balance;
}

.form-info {
  font-size: var(--step-0);
  color: var(--text-color-secondary);
  font-weight: var(--weight-medium);
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: var(--space-l);

  > li {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas: "icon title" ". description";
    column-gap: var(--space-xs);
    row-gap: var(--space-2xs);

    svg {
      grid-area: icon;
      align-self: flex-start;
      height: 1lh;
    }
  }
}

.form-info-title {
  grid-area: title;
}

.form-title-step-footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--space-m);
}

@media (width < 600px) {
  .form-title-step-button {
    width: 100%;
  }
}

.form-info-description {
  font-size: var(--step--1);
  font-weight: var(--weight-medium);
  text-wrap: pretty;
  grid-area: description;
}

.form-info-pdf-list {
  list-style-type: disc;
  padding-inline-start: var(--space-m);
  margin: 0;
}

.form-title-step-date-updated {
  width: 100%;
  border-top: 1px solid var(--border-color);
  padding-block: var(--space-s);
  font-size: var(--step--1);
  text-wrap: pretty;
}
