.form-title-step {
  display: flex;
  flex-direction: column;
  gap: var(--space-2xl);
  align-items: flex-start;
  padding-block: var(--space-xl) var(--space-2xl);
}

.form-title-step-back-link {
  display: flex;
  gap: var(--space-2xs);
  align-items: center;
  padding-inline-end: var(--space-2xs);
  margin-block-end: var(--space-s);
  margin-inline-start: calc(-1 * var(--space-2xs));
  font-size: var(--step-0);
  color: var(--text-color);
  text-decoration: none;

  @media (hover: hover) {
    &:hover {
      text-decoration: underline;
    }
  }
}

.form-title-step-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-title-step-heading {
  display: inline;
  margin-inline-start: -0.06em;
  font-size: var(--step-5);
  font-weight: var(--weight-bold);
  line-height: var(--line-height-display);
  color: var(--text-color);
  letter-spacing: var(--letter-spacing-condensed);
  text-wrap: balance;

  @media (width < 700px) {
    font-size: var(--step-5);
  }
}

.form-title-step-description {
  margin-block-start: var(--space-m);
  font-size: var(--step-2);
  line-height: var(--line-height-display);
  text-wrap: balance;
}

.form-info {
  display: flex;
  flex-direction: column;
  gap: var(--space-l);
  padding: 0;
  margin: 0;
  font-size: var(--step-0);
  font-weight: var(--weight-medium);
  color: var(--text-color-secondary);
  list-style: none;

  > li {
    display: grid;
    grid-template-areas: "icon title" ". description";
    grid-template-columns: auto 1fr;
    row-gap: var(--space-2xs);
    column-gap: var(--space-xs);

    svg {
      grid-area: icon;
      align-self: flex-start;
      height: 1lh;
    }
  }
}

.form-info-title {
  grid-area: title;
}

.form-title-step-footer {
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
  align-items: flex-start;
  width: 100%;
}

@media (width < 600px) {
  .form-title-step-button {
    width: 100%;
  }
}

.form-info-description {
  grid-area: description;
  font-size: var(--step--1);
  font-weight: var(--weight-medium);
  text-wrap: pretty;
}

.form-info-pdf-list {
  padding-inline-start: var(--space-m);
  margin: 0;
  list-style-type: disc;
}

.form-title-step-date-updated {
  width: 100%;
  padding-block: var(--space-s);
  font-size: var(--step--1);
  text-wrap: pretty;
  border-top: 1px solid var(--border-color);
}
