.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
  padding-block-end: var(--space-m);
  min-height: 100dvh;
}

.form-container-content {
  padding-block-end: var(--space-xl);
  width: 100%;
}
