.namesake-checkbox {
  --selected-color: var(--highlight-background);
  --selected-color-pressed: var(--highlight-background);
  --checkmark-color: var(--background-color);

  display: flex;
  /* This is needed so the HiddenInput is positioned correctly */
  position: relative;
  align-items: center;
  gap: var(--space-s);
  color: var(--text-color);
  forced-color-adjust: none;

  .checkbox {
    width: var(--space-xl);
    height: var(--space-xl);
    border: 1px solid var(--border-color);
    border-radius: var(--radius-2xs);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
  }

  svg {
    width: 75%;
    height: 75%;
    transform: translateY(-0.5px) translateX(1px);
    fill: none;
    stroke: var(--checkmark-color);
    stroke-width: 2;
    stroke-dasharray: 22px;
    stroke-dashoffset: 66;
    transition: all 200ms ease-out;
  }

  &[data-focus-visible] .checkbox {
    outline: 3px solid var(--focus-ring-color);
    outline-offset: 2px;
  }

  &[data-selected],
  &[data-indeterminate] {
    .checkbox {
      border-color: var(--selected-color);
      background: var(--selected-color);
    }

    &[data-pressed] .checkbox {
      border-color: var(--selected-color-pressed);
      background: var(--selected-color-pressed);
    }

    svg {
      stroke-dashoffset: 44;
    }
  }

  &[data-indeterminate] {
    & svg {
      stroke: none;
      fill: var(--checkmark-color);
    }
  }

  &[data-invalid] {
    .checkbox {
      --checkmark-color: var(--highlight-foreground);
      border-color: var(--invalid-color);
    }

    &[data-selected],
    &[data-indeterminate] {
      .checkbox {
        background: var(--invalid-color);
      }
    }
  }

  &[data-disabled] {
    opacity: 0.3;
  }
}
