---
export interface BreadcrumbItem {
  label: string;
  href: string;
}

interface Props {
  items: BreadcrumbItem[];
}

const { items } = Astro.props;
---

<nav aria-label="Breadcrumb" class="breadcrumbs">
  <ol>
    {
      items.map((item) => (
        <li>
          <a href={item.href}>{item.label}</a>
        </li>
      ))
    }
  </ol>
</nav>

<style>
  .breadcrumbs ol {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--space-2xs);
    list-style: none;
    padding: 0;
    padding-block-end: var(--space-m);
    margin: 0;
  }

  .breadcrumbs li {
    display: flex;
    align-items: center;
    gap: var(--space-2xs);
  }

  .breadcrumbs li:not(:last-child)::after {
    content: "/";
    color: var(--text-color-muted);
  }

  .breadcrumbs a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
</style>
