---
import { RiInstagramLine, RiLinkedinLine } from "react-icons/ri";

const year = new Date().getFullYear();
---

<footer>
  <span class="copyright"
    ><strong>&copy; Namesake</strong> 2022&hairsp;&ndash;&hairsp;{year}
  </span>
  <div class="social">
    <a
      href="https://www.instagram.com/joinnamesake/"
      aria-label="View Namesake on Instagram"
      title="View Namesake on Instagram"><RiInstagramLine size="24px" /></a
    >
    <a
      href="https://www.linkedin.com/company/namesake-collaborative/"
      aria-label="View Namesake on LinkedIn"
      title="View Namesake on LinkedIn"><RiLinkedinLine size="24px" /></a
    >
  </div>
</footer>

<style lang="scss">
  footer {
    display: flex;
    gap: var(--space-m);
    justify-content: space-between;
    align-items: center;
    padding: var(--space-l);
    width: 100%;
    max-width: 1200px;
    margin-inline: auto;
  }

  .copyright {
    font-size: var(--step--1);
  }

  .social {
    display: flex;
    gap: var(--space-s);

    a {
      border-radius: var(--radius-xs);
    }
  }
</style>
