---
import Glyph from "./Glyph.astro";

const year = new Date().getFullYear();
---

<footer>
  <div class="links">
    <strong>Namesake</strong>
    <a href="/press">Press</a>
    <a href="/brand-assets">Brand Assets</a>
    <span class="copyright">&copy; 2022&hairsp;&ndash;&hairsp;{year}</span>
  </div>
  <div class="links">
    <strong>Social</strong>
    <a href="https://discord.gg/8Vy2bbQ5C2">Discord</a>
    <a href="https://github.com/namesakefyi">GitHub</a>
    <a href="https://www.instagram.com/joinnamesake/">Instagram</a>
    <a href="https://www.linkedin.com/company/namesake-collaborative/"
      >LinkedIn</a
    >
  </div>
  <div class="glyph">
    <Glyph />
  </div>
</footer>

<style lang="scss">
  footer {
    display: flex;
    gap: var(--space-3xl);
    align-items: stretch;
    padding: var(--space-l);
    line-height: 1.5;
    width: 100%;
    max-width: 1200px;
    margin-inline: auto;
  }

  .links {
    display: flex;
    flex-direction: column;
    font-size: var(--step--1);
  }

  .copyright {
    margin-block-start: auto;
  }

  .social {
    display: flex;
    gap: var(--space-s);
  }

  .glyph {
    align-self: flex-end;
    margin-inline-start: auto;
    width: 80px;
  }
</style>
