---
import Logo from "./Logo.astro";
import siteInfo from "../data/site-info";

const { socialLinks } = siteInfo;
---

<header>
  <a href="/" aria-label="Namesake homepage" id="logo"><Logo /></a>
  <a href={socialLinks.discord.href} class="button">Join us on Discord</a>
</header>

<script>
  const logo = document.querySelector("#logo");

  logo?.addEventListener("contextmenu", (event) => {
    event.preventDefault();
    window.location.href = "/brand-assets";
  });
</script>

<style>
  header {
    top: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: var(--space-l);
    width: 100%;
    max-width: 1200px;
    margin-inline: auto;
  }

  a {
    padding: var(--space-xs) var(--space-s);
    margin: calc(var(--space-xs) * -1);
  }

  .button {
    font-size: var(--step--1);
    font-weight: 600;
    border: 3px solid var(--text);
    text-decoration: none;
    margin-inline-start: auto;
    border-radius: 2px;

    @media (hover: hover) {
      &:hover {
        background-color: var(--text);
        color: var(--bg);
      }
    }
  }
</style>
