---
import Logo from "./Logo.astro";

const { pathname } = Astro.url;

const navLinks = [
  { href: "/guides", label: "Guides" },
  { href: "/forms", label: "Forms" },
  { href: "/blog", label: "Blog" },
  { href: "/donate", label: "Donate" },
];
---

<header>
  <a href="/" aria-label="Home" id="logo"><Logo /></a>
  <nav aria-label="Site">
    <ul role="list">
      {
        navLinks.map(({ href, label }) => (
          <li>
            <a
              href={href}
              aria-current={pathname.startsWith(href) ? "page" : "false"}
            >
              {label}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>

<script>
  const logo = document.querySelector("#logo");

  logo?.addEventListener("contextmenu", (event) => {
    event.preventDefault();
    window.location.href = "/brand-assets";
  });
</script>

<style lang="scss">
  header {
    top: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
    padding: var(--space-l);
    gap: var(--space-l);
    width: 100%;
    max-width: 1200px;
    margin-inline: auto;

    @media (width > 520px) {
      flex-direction: row;
    }
  }

  #logo {
    transform: translateY(1px);
  }

  ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: unset;
    margin: unset;
    margin-inline-start: calc(var(--space-s) * -1);

    a {
      padding: var(--space-xs) var(--space-s);
      border-radius: 5px;
      text-decoration: none;
      font-size: var(--step-0);
      font-weight: var(--weight-bold);

      &[aria-current="page"],
      &:hover {
        text-decoration: underline;
        text-decoration-thickness: 2px;
        text-underline-offset: 0.1em;
      }
    }
  }
</style>
