---
import siteInfo from "~/data/site-info";
import Logo from "./Logo.astro";

const { urls } = siteInfo;
const { pathname } = Astro.url;
---

<header>
  <a href="/" aria-label="Home" id="logo"><Logo /></a>
  <nav aria-label="Site">
    <ul role="list">
      <li>
        <a
          href="/blog"
          aria-current={pathname.slice(1).startsWith("blog") ? "page" : "false"}
          >Blog</a
        >
      </li>
      <li><a href="/donate">Donate</a></li>
      <li><a href={urls.app}>Sign In</a></li>
    </ul>
  </nav>
</header>

<script>
  const logo = document.querySelector("#logo");

  logo?.addEventListener("contextmenu", (event) => {
    event.preventDefault();
    window.location.href = "/brand-assets";
  });
</script>

<style lang="scss">
  header {
    top: 0;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: var(--space-l);
    width: 100%;
    max-width: 1200px;
    margin-inline: auto;
  }

  #logo {
    transform: translateY(2px);
  }

  ul {
    list-style: none;
    display: flex;
    padding: unset;
    margin: unset;

    a {
      padding: var(--space-xs) var(--space-s);
      border-radius: 5px;
      text-decoration: none;
      font-size: var(--step-0);
      font-weight: 600;

      &[aria-current="page"],
      &:hover {
        text-decoration: underline;
        text-decoration-thickness: 2px;
        text-underline-offset: 1.5px;
      }
    }
  }
</style>
