---
import siteInfo from "~/data/site-info";
import Logo from "./Logo.astro";

const { urls } = siteInfo;
const { pathname } = Astro.url;
---

<header>
  <a href="/" aria-label="Home" id="logo"><Logo /></a>
  <nav aria-label="Site">
    <ul role="list">
      <li>
        <a
          href="/blog"
          aria-current={pathname.slice(1) === "blog" ? "page" : "false"}
          class="button ghost small">Blog</a>
      </li>
      <li><a href="/donate" class="button secondary small">Donate</a></li>
      <li><a href={urls.app} class="button primary small">Sign In</a></li>
    </ul>
  </nav>
</header>

<script>
  const logo = document.querySelector("#logo");

  logo?.addEventListener("contextmenu", (event) => {
    event.preventDefault();
    window.location.href = "/brand-assets";
  });
</script>

<style lang="scss">
  header {
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--space-m) var(--space-l);
    width: 100%;
    max-width: 1200px;
    margin-inline: auto;
  }

  ul {
    list-style: none;
    display: flex;
    padding: unset;
    margin: unset;
    gap: var(--space-xs);

    a {
      padding: var(--space-xs) var(--space-s);
      border-radius: 5px;
    }
  }
</style>
