---
import Logo from "./Logo.astro";
---

<header>
  <a href="/" aria-label="Namesake homepage"><Logo /></a>
</header>

<style>
  header {
    top: 0;
    display: flex;
    justify-content: flex-start;
    padding: var(--space-l);
    width: 100%;
    max-width: 1200px;
    margin-inline: auto;
  }
</style>
