---
import Logo from "./Logo.astro";
---

<header>
  <a href="/" aria-label="Namesake homepage" id="logo"><Logo /></a>
</header>

<script>
  const logo = document.querySelector("#logo");

  logo?.addEventListener("contextmenu", (event) => {
    event.preventDefault();
    window.location.href = "/brand-assets";
  });
</script>

<style>
  header {
    top: 0;
    display: flex;
    justify-content: flex-start;
    padding: var(--space-l);
    width: 100%;
    max-width: 1200px;
    margin-inline: auto;
  }

  a {
    padding: var(--space-xs);
    margin: calc(var(--space-xs) * -1);
    border-radius: var(--radius-xs);
  }
</style>
