---
import { RiDiscordFill } from "react-icons/ri";
import siteInfo from "~/data/site-info";
import Logo from "./Logo.astro";

const { socialLinks } = siteInfo;
---

<header>
  <a href="/" aria-label="Namesake homepage" id="logo"><Logo /></a>
  <nav>
    <a href="/blog">Blog</a>
    <a href={socialLinks.discord.href} class="outline"
      ><RiDiscordFill size={24} />Chat</a
    >
  </nav>
</header>

<script>
  const logo = document.querySelector("#logo");

  logo?.addEventListener("contextmenu", (event) => {
    event.preventDefault();
    window.location.href = "/brand-assets";
  });
</script>

<style lang="scss">
  header {
    top: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: var(--space-l);
    width: 100%;
    max-width: 1200px;
    margin-inline: auto;
  }

  a {
    padding: var(--space-xs) var(--space-s);
    margin: calc(var(--space-xs) * -1);
  }

  nav {
    display: flex;
    gap: var(--space-l);
    margin-inline-start: auto;

    a {
      --nav-border: transparent;
      font-size: var(--step--1);
      font-weight: 600;
      border: 3px solid var(--nav-border);
      text-decoration: none;
      border-radius: 3px;
      display: inline-flex;
      gap: var(--space-xs);

      &.outline {
        --nav-border: var(--text);
      }

      @media (hover: hover) {
        &:hover {
          background-color: var(--text);
          color: var(--bg);
        }
      }
    }
  }
</style>
