---
import siteInfo from "~/data/site-info";
import Logo from "./Logo.astro";

const { urls } = siteInfo;
---

<header>
  <a href="/" aria-label="Namesake homepage" id="logo"><Logo /></a>
  <nav>
    <a href="/blog" class="button ghost small">Blog</a>
    <a href="/donate" class="button secondary small">Donate</a>
    <a href={urls.app} class="button primary small">Sign In</a>
  </nav>
</header>

<script>
  const logo = document.querySelector("#logo");

  logo?.addEventListener("contextmenu", (event) => {
    event.preventDefault();
    window.location.href = "/brand-assets";
  });
</script>

<style lang="scss">
  header {
    top: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: var(--space-l);
    width: 100%;
    max-width: 1200px;
    margin-inline: auto;
  }

  a {
    padding: var(--space-xs) var(--space-s);
    margin: calc(var(--space-xs) * -1);
    border-radius: 5px;
  }

  nav {
    display: flex;
    gap: var(--space-l);
    margin-inline-start: auto;
  }
</style>
