---
import { RiArrowRightLine } from "@remixicon/react";
---

<form
  action="https://namesake.mailcoach.app/subscribe/d21c197c-7919-45d5-b25a-29ee17cd538e"
  method="post"
>
  <strong>Keep in touch:</strong>
  <div class="input-group">
    <input type="email" name="email" placeholder="Your email" required />
    <button type="submit">Subscribe <RiArrowRightLine /></button>
  </div>
  <div hidden>
    <label for="special">
      If you are a human, do not fill in this field.
    </label>
    <input type="text" name="special" tabindex="-1" autocomplete="off" />
  </div>
</form>

<style lang="scss">
  form {
    position: relative;
    border-radius: 5px;
    width: 100%;
    max-width: 520px;

    :focus-visible {
      outline-color: var(--footerText);
    }
  }

  .input-group {
    max-width: 100%;
    display: flex;
    gap: var(--space-xs);
    margin-block-start: var(--space-s);
  }

  input,
  button {
    border: none;
    background: var(--background-color);
    border-radius: var(--radius-s);
    color: var(--text-color);
    padding: var(--space-xs) var(--space-s);
  }

  input {
    flex: 1;
    min-width: 0;

    &::placeholder {
      color: var(--text-color-placeholder);
    }
  }

  button {
    font-weight: var(--weight-bold);
    flex-shrink: 0;
    cursor: pointer;
    display: inline-flex;
    gap: var(--space-2xs);
    align-items: center;
    padding-inline: var(--space-m);
  }
</style>
