.namesake-text-field {
  width: 100%;
  color: var(--text-color);

  .react-aria-Input,
  .react-aria-TextArea {
    display: block;
    padding: var(--space-s) var(--space-m);
    margin: 0;
    border: 1px solid var(--border-color);
    border-radius: var(--radius-xs);
    box-shadow: inset 0 3px 0 0
      color-mix(in srgb, var(--namesake-black) 10%, transparent);
    background: var(--field-background);
    font-size: var(--step-0);
    color: var(--field-text-color);

    &[data-focused] {
      outline: 3px solid var(--focus-ring-color);
      outline-offset: -1px;
    }
  }

  .react-aria-Input,
  .react-aria-TextArea {
    &[data-invalid] {
      border-color: var(--invalid-color);
    }
  }

  .react-aria-FieldError {
    margin-top: var(--space-2xs);
    font-size: var(--step--1);
    color: var(--invalid-color);
  }

  [slot="description"] {
    display: block;
    margin-top: var(--space-2xs);
    font-size: var(--step--2);
  }

  .react-aria-Input,
  .react-aria-TextArea {
    &[data-disabled] {
      border-color: var(--border-color-disabled);
      color: var(--text-color-disabled);
    }
  }
}
