.react-aria-RadioGroup {
  display: flex;
  flex-direction: column;
  gap: var(--space-s);
  color: var(--text-color);

  [slot="description"] {
    display: block;
    margin-top: var(--space-2xs);
    font-size: var(--step--2);
  }
}

.react-aria-Radio {
  display: flex;
  /* This is needed so the HiddenInput is positioned correctly */
  position: relative;
  align-items: center;
  gap: var(--space-s);
  font-size: var(--step-0);
  color: var(--text-color);
  forced-color-adjust: none;

  &:before {
    content: "";
    display: block;
    width: var(--space-xl);
    height: var(--space-xl);
    box-sizing: border-box;
    border: 1px solid var(--border-color);
    background: var(--field-background);
    border-radius: 50%;
    transition: border-width 150ms;
  }

  &[data-pressed]:before {
    border-color: var(--highlight-background);
  }

  &[data-selected] {
    &:before {
      border-color: var(--highlight-background);
      border-width: var(--space-xs);
    }

    &[data-pressed]:before {
      border-color: var(--highlight-background);
    }
  }

  &[data-focus-visible]:before {
    outline: 2px solid var(--focus-ring-color);
    outline-offset: 2px;
  }

  &[data-invalid] {
    &:before {
      border-color: var(--invalid-color);
    }
  }

  &[data-disabled] {
    color: var(--text-color-disabled);

    &:before {
      border-color: var(--border-color-disabled);
    }
  }
}

.react-aria-RadioGroup .radio-items {
  display: flex;
  gap: 8px;
}

.react-aria-RadioGroup[data-orientation="vertical"] .radio-items {
  flex-direction: column;
}

.react-aria-RadioGroup[data-orientation="horizontal"] .radio-items {
  flex-direction: row;
}
