.react-aria-Form {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--space-s);
}

.react-aria-Form [role="alert"] {
  border: 2px solid var(--invalid-color);
  background: var(--overlay-background);
  border-radius: 6px;
  padding: 12px;
  max-width: 250px;
  outline: none;

  &:focus {
    outline: 3px solid var(--focus-ring-color);
    outline-offset: 2px;
  }

  h3 {
    margin-top: 0;
  }

  p {
    margin-bottom: 0;
  }
}

.react-aria-Label {
  display: inline-block;
  color: var(--text-color);
  margin-bottom: var(--space-2xs);
}

.react-aria-FieldError {
  font-size: var(--step--1);
  color: var(--invalid-color);
}

.namesake-field-button {
  background: var(--highlight-background);
  color: var(--highlight-foreground);
  forced-color-adjust: none;
  border-radius: var(--radius-2xs);
  border: none;
  margin-left: calc(-1 * var(--space-xl));
  width: var(--space-l);
  height: var(--space-l);
  padding: 0;
  font-size: var(--step--1);
  box-sizing: content-box;
  display: flex;
  align-items: center;
  justify-content: center;

  &[data-pressed] {
    box-shadow: none;
    background: var(--highlight-background);
  }

  &[data-focus-visible] {
    outline: 3px solid var(--focus-ring-color);
    outline-offset: 2px;
  }
}
