
.react-aria-Form {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 8px;
}

.react-aria-Form [role="alert"] {
  border: 2px solid var(--invalid-color);
  background: var(--overlay-background);
  border-radius: 6px;
  padding: 12px;
  max-width: 250px;
  outline: none;

  &:focus {
    outline: 2px solid var(--focus-ring-color);
    outline-offset: 2px;
  }

  h3 {
    margin-top: 0;
  }

  p {
    margin-bottom: 0;
  }
}

.react-aria-Label {
  color: var(--text-color);
  margin-bottom: 0.5em;
  font-size: var(--step--1);
}

.react-aria-FieldError {
  font-size: var(--step--1);
  color: var(--invalid-color);
}

.field-Button {
  background: var(--highlight-background);
  color: var(--highlight-foreground);
  forced-color-adjust: none;
  border-radius: 4px;
  border: none;
  margin-left: calc(-1 * var(--space-l));
  width: var(--space-m);
  height: var(--space-m);
  padding: 0;
  font-size: var(--step--1);
  box-sizing: content-box;
  display: flex;
  align-items: center;
  justify-content: center;

  &[data-pressed] {
    box-shadow: none;
    background: var(--highlight-background);
  }

  &[data-focus-visible] {
    outline: 2px solid var(--focus-ring-color);
    outline-offset: 2px;
  }
}
