.namesake-form {
  display: flex;
  flex-direction: column;
  gap: var(--space-s);
  align-items: start;
}

.namesake-label {
  display: inline-block;
  margin-bottom: var(--space-2xs);
  color: var(--text-color);
}

.namesake-field-error {
  font-size: var(--step--1);
  color: var(--invalid-color);
}

.namesake-field-button {
  box-sizing: content-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--space-xl);
  height: var(--space-xl);
  padding: 0;
  margin-left: calc(-1 * var(--space-2xl));
  font-size: var(--step--1);
  color: var(--text-color);
  forced-color-adjust: none;
  background-color: var(--field-background);
  border: none;
  border-radius: var(--radius-2xs);

  &[data-pressed] {
    box-shadow: none;
  }

  &[data-focus-visible] {
    outline: 3px solid var(--focus-ring-color);
    outline-offset: 2px;
  }
}
