
.react-aria-Calendar {
  width: fit-content;
  max-width: 100%;
  color: var(--text-color);

  header {
    display: flex;
    align-items: center;
    margin: 0 var(--space-2xs) var(--space-l) var(--space-2xs);

    .react-aria-Heading {
      flex: 1;
      margin: 0;
      text-align: center;
      font-size: var(--step-0);
    }
  }

  .react-aria-Button[slot="previous"],
  .react-aria-Button[slot="next"] {
    width: 1.75rem;
    height: 1.75rem;
    padding: 0;
  }

  [slot="errorMessage"] {
    font-size: 12px;
    color: var(--invalid-color);
  }
}

.react-aria-CalendarCell {
  width: var(--space-2xl);
  line-height: var(--space-2xl);
  text-align: center;
  border-radius: var(--radius-l);
  cursor: pointer;
  outline: none;
  forced-color-adjust: none;

  &[data-outside-month] {
    display: none;
  }

  &[data-focus-visible] {
    outline: 2px solid var(--focus-ring-color);
    outline-offset: 2px;
  }

  &[data-selected] {
    background: var(--highlight-background);
    color: var(--highlight-foreground);
  }

  &[data-disabled] {
    color: var(--text-color-disabled);
    cursor: not-allowed;
  }

  &[data-unavailable] {
    text-decoration: line-through;
    color: var(--invalid-color);
    cursor: not-allowed;
  }

  &[data-invalid] {
    background: var(--invalid-color);
    color: var(--highlight-foreground);
  }

}
