.form-review-sections {
  display: flex;
  flex-direction: column;
  max-width: 640px;
}

.form-review-section {
  display: flex;
  gap: var(--space-l);
  padding-block: var(--space-m);
  border-top: 1px solid var(--border-color);

  &:last-child {
    border-bottom: 1px solid var(--border-color);
  }
}

.form-review-section-action {
  margin-left: auto;
}

.form-review-list {
  display: flex;
  flex-direction: column;
  gap: var(--space-2xs);
  margin: 0;
}

.form-review-field {
  padding-inline-start: var(--space-xl);
  text-indent: calc(-1 * var(--space-xl));
}

.form-review-label,
.form-review-value {
  display: inline;
  margin: 0;
}

.form-review-label {
  font-weight: var(--weight-bold);
}

.form-review-no-response {
  display: inline-flex;
  gap: var(--space-2xs);
  align-items: center;
  font-weight: var(--weight-bold);
  color: var(--invalid-color);
  text-indent: 0;
  text-decoration: wavy underline
    color-mix(in srgb, var(--invalid-color) 35%, transparent);
  text-decoration-skip-ink: none;
}

.form-review-change-link {
  padding: unset;
  color: inherit;
  text-decoration: underline;
  cursor: pointer;
  background: unset;
  border: unset;
}
