.namesake-button {
  color: var(--text-color);
  background: var(--background-color);
  border: 1px solid var(--text-color);
  border-radius: var(--radius-s);
  appearance: none;
  font-size: var(--step-0);
  font-weight: var(--weight-bold);
  text-align: center;
  margin: 0;
  outline: none;
  padding: var(--space-s) var(--space-m);
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-s);
  transition: transform 80ms ease-out;

  @media (hover: hover) {
    &:not([data-disabled]) {
      &:hover {
        transform: scale(1.05);
      }
      &:active {
        transform: scale(0.98);
      }
    }
  }

  &[data-variant="primary"] {
    background-color: var(--text-color);
    border-color: var(--text-color);
    color: var(--background-color);
  }

  &[data-size="large"] {
    font-size: var(--step-1);
    height: var(--space-3xl);
    padding-inline: var(--space-l);
  }

  &[data-focus-visible] {
    outline: 3px solid var(--focus-ring-color);
    outline-offset: 2px;
  }

  &[data-disabled] {
    opacity: 0.2;
    mix-blend-mode: luminosity;
    cursor: not-allowed;
  }

  &:not([data-disabled]) {
    cursor: pointer;
  }

  .namesake-button-start-icon:has(~ *),
  .namesake-button-end-icon:has(~ *) {
    margin-inline: -0.2em;
    flex-shrink: 0;
  }
}
