
.react-aria-Button {
  color: var(--text-color);
  background: var(--button-background);
  border: 1px solid var(--border-color);
  border-radius: var(--radius-xs);
  appearance: none;
  vertical-align: middle;
  font-size: var(--step--1);
  font-weight: var(--weight-bold);
  text-align: center;
  margin: 0;
  outline: none;
  padding: var(--space-xs) var(--space-s);
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-2xs);

  &[data-focus-visible] {
    outline: 2px solid var(--focus-ring-color);
    outline-offset: 2px;
  }

  &[data-disabled] {
    border-color: var(--border-color-disabled);
    color: var(--text-color-disabled);
  }

  &:not([data-disabled]) {
    cursor: pointer;
  }
}
