.guides-table-container {
  display: flex;
  flex-direction: column;
  gap: var(--space-xl);
}

.guides-filter-bar {
  display: flex;
  align-items: center;
  gap: var(--space-m);
}

.guides-table-section {
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
}

.guides-table-heading {
  font-size: var(--step-1);
  font-weight: var(--weight-bold);
  margin: 0;
}

.guides-table-wrapper {
  overflow-x: auto;
  width: 100%;
  border: 1px solid var(--border-color);
}

.guides-table {
  width: 100%;
  font-size: var(--step-0);
  border: none;

  a {
    font-weight: var(--weight-bold);
    text-decoration: none;

    @media (hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
