.form-feedback {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--space-l);
  border: 1px solid var(--border-color);
  padding: var(--space-l);
  border-radius: var(--radius-m);
  align-items: stretch;
}

.form-feedback-success {
  display: flex;
  flex-direction: column;
  gap: var(--space-s);
}

.form-feedback-title {
  font-size: var(--step-1);
  font-weight: var(--weight-bold);
  color: var(--text-color);
  text-wrap: pretty;
}

.form-feedback-sentiment {
  .radio-items {
    flex-direction: column;
    gap: var(--space-s);
    width: 100%;

    &:not(:last-child) {
      margin-block-end: var(--space-2xs);
    }
  }

  @media (width > 520px) {
    .radio-items {
      flex-direction: row;
    }
  }

  .form-feedback-sentiment-option {
    width: 100%;
    justify-content: center;
    border: 1px solid var(--border-color);
    padding: var(--space-s) var(--space-m);
    gap: var(--space-2xs);
    flex-direction: column;
    cursor: pointer;
    border-radius: var(--radius-xs);
    text-align: center;

    svg {
      flex-shrink: 0;
      margin-top: 4px;
    }

    &::before {
      display: none;
    }

    &[data-selected] {
      background: var(--highlight-background);
      border-color: var(--highlight-background);
      color: var(--highlight-foreground);
    }

    &[data-focus-visible] {
      outline: 3px solid var(--focus-ring-color);
      outline-offset: 2px;
    }
  }
}
