.react-aria-Menu {
  box-sizing: border-box;
  min-width: 150px;
  max-height: inherit;
  padding: 2px;
  overflow: auto;
  outline: none;
}

.react-aria-MenuItem {
  position: relative;
  display: grid;
  grid-template-areas: "label chevron";
  grid-template-columns: 1fr auto;
  column-gap: 20px;
  align-items: center;
  padding: var(--space-2xs) var(--space-xs);
  margin: 2px;
  font-size: var(--step--1);
  color: var(--text-color);
  cursor: pointer;
  outline: none;
  forced-color-adjust: none;
  border-radius: 6px;

  &[data-focused],
  &[data-open] {
    color: var(--highlight-foreground);
    background: var(--highlight-background);
  }
}

.react-aria-MenuItem {
  &[data-selection-mode] {
    padding-left: 24px;

    &::before {
      position: absolute;
      left: 4px;
      font-weight: 600;
    }

    &[data-selected]::before {
      content: "✓";
      alt: " ";
      position: absolute;
      left: 4px;
      font-weight: 600;
    }
  }
}

.react-aria-MenuItem[href] {
  text-decoration: none;
  cursor: pointer;
}

.react-aria-Menu {
  .react-aria-MenuSection:not(:first-child) {
    margin-top: 12px;
  }

  .react-aria-Header {
    padding: 0 var(--space-s);
    font-size: var(--step-0);
    font-weight: bold;
  }
}

.react-aria-Separator {
  margin: 6px 8px;
  border: 0;
  border-top: 1px solid var(--border-color);
}

.react-aria-MenuItem {
  [slot="label"] {
    grid-area: label;
    font-weight: bold;
  }

  [slot="description"] {
    display: block;
    grid-area: desc;
    margin-top: var(--space-2xs);
    font-size: var(--step--2);
  }

  kbd {
    grid-area: kbd;
    font-family: monospace;
    text-align: end;
  }

  &[data-disabled] {
    color: var(--text-color-disabled);
    cursor: not-allowed;
  }
}

.react-aria-Popover[data-trigger="SubmenuTrigger"][data-placement="right"] {
  margin-left: -5px;
}

.react-aria-Popover[data-trigger="SubmenuTrigger"][data-placement="left"] {
  margin-right: -5px;
}

.react-aria-Popover[data-trigger="SubmenuTrigger"] .react-aria-SearchField {
  margin: 4px 8px;
}
