name: Accessibility
on:
  push:
    branches: [main]
    paths:
      [
        "src/**/*.ts",
        "src/**/*.astro",
        "astro.config.mjs",
        "playwright.config.mjs",
        "package.json",
      ]
  pull_request:
    branches: [main]
    paths:
      [
        "src/**/*.ts",
        "src/**/*.astro",
        "astro.config.mjs",
        "playwright.config.mjs",
        "package.json",
      ]

jobs:
  test:
    name: Playwright
    timeout-minutes: 60
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup pnpm
        uses: pnpm/action-setup@v4.2.0

      - name: Use Node.js v22
        uses: actions/setup-node@v6
        with:
          node-version: "22.x"
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm i

      - name: Install Playwright Browsers
        run: pnpm exec playwright install chromium

      - name: Run Playwright tests
        run: pnpm test:e2e

      - name: Upload Playwright results
        uses: actions/upload-artifact@v6
        if: always()
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
